In [60]:
import json
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import classification_report

In [61]:
with open("processed_data/simple_processing/test_file.txt") as f:
    data = [json.loads(line) for line in f]

In [97]:
def get_dfs(record):
    return pd.DataFrame(record["features"]), pd.DataFrame(record["classes"])

In [99]:
f0, c0 = get_dfs(data[0])

In [100]:
f0

,Acc_X__sum_values,Acc_X__median,Acc_X__mean,Acc_X__length,Acc_X__standard_deviation,Acc_X__variance,Acc_X__root_mean_square,Acc_X__maximum,Acc_X__absolute_maximum,Acc_X__minimum,...,Mag_Z__sum_values,Mag_Z__median,Mag_Z__mean,Mag_Z__length,Mag_Z__standard_deviation,Mag_Z__variance,Mag_Z__root_mean_square,Mag_Z__maximum,Mag_Z__absolute_maximum,Mag_Z__minimum
1,-532.449340,-9.522894,-9.508024,56.0,0.098958,0.009793,9.508539,-9.249703,9.753536,-9.753536,...,3.214106,0.059570,0.057395,56.0,0.010487,0.000110,0.058345,0.074463,0.074463,0.038818
2,591.567273,9.418891,9.389957,63.0,0.384537,0.147869,9.397827,10.374157,10.374157,8.123430,...,-40.689697,-0.646240,-0.645868,63.0,0.003031,0.000009,0.645875,-0.637695,0.652588,-0.652588
3,597.246832,9.499529,9.480108,63.0,0.097870,0.009579,9.480614,9.658154,9.658154,9.248930,...,-14.816410,-0.253418,-0.235181,63.0,0.057573,0.003315,0.242126,-0.102783,0.306152,-0.306152
4,644.846795,9.481887,9.483041,68.0,0.059116,0.003495,9.483225,9.678227,9.678227,9.363868,...,168.596189,2.476929,2.479356,68.0,0.024248,0.000588,2.479474,2.533203,2.533203,2.429199

In [106]:
c0

  UserId Surface
0      1       2
1      2       3
2      3       4
3      4       5

In [107]:
f1, c1 = get_dfs(data[1])
f1

,Acc_X__sum_values,Acc_X__median,Acc_X__mean,Acc_X__length,Acc_X__standard_deviation,Acc_X__variance,Acc_X__root_mean_square,Acc_X__maximum,Acc_X__absolute_maximum,Acc_X__minimum,...,Mag_Z__sum_values,Mag_Z__median,Mag_Z__mean,Mag_Z__length,Mag_Z__standard_deviation,Mag_Z__variance,Mag_Z__root_mean_square,Mag_Z__maximum,Mag_Z__absolute_maximum,Mag_Z__minimum
1,-549.188566,-9.446905,-9.308281,59.0,0.792860,0.628627,9.341987,-7.684645,11.053812,-11.053812,...,6.884036,0.114258,0.116679,59.0,0.030170,0.000910,0.120516,0.169922,0.169922,0.074463
2,635.573572,9.329125,9.629903,66.0,1.683591,2.834479,9.775966,12.764528,12.764528,6.712512,...,-42.621335,-0.640137,-0.645778,66.0,0.026840,0.000720,0.646335,-0.589600,0.695068,-0.695068
3,631.952472,8.977465,9.722346,65.0,2.124232,4.512364,9.951702,14.668186,14.668186,7.087672,...,-1.467041,-0.033936,-0.022570,65.0,0.134368,0.018055,0.136250,0.223877,0.270752,-0.270752
4,553.913757,9.357221,9.231896,60.0,1.071170,1.147405,9.293832,11.316926,11.316926,6.671933,...,152.420900,2.532227,2.540348,60.0,0.041676,0.001737,2.540690,2.626953,2.626953,2.469727

In [108]:
c1

  UserId Surface
0      1       2
1      2       3
2      3       4
3      4       5

In [121]:
clf = SGDClassifier()

f = pd.DataFrame(data[0]["features"])
f = f.reindex(sorted(f.columns), axis=1)

c = pd.DataFrame(data[0]["classes"]).Surface
clf.partial_fit(f, c, classes=c)

# df = df.reindex(sorted(df.columns), axis=1)
for el in data[1:15]:
    f = pd.DataFrame(el["features"])
    f = f.reindex(sorted(f.columns), axis=1)
    c = pd.DataFrame(el["classes"])

    prev = f.columns.values
    clf.partial_fit(f, c.Surface)

In [124]:
for el in data[15:]:
    f, c = pd.DataFrame(el["features"]), pd.DataFrame(el["classes"])
    f = f.reindex(sorted(f.columns), axis=1)

    print(clf.predict(f))
    print(c.Surface.values)
    print("\n")

['2' '3' '3' '5']
['2' '3' '4' '5']


['2' '3' '3' '5']
['2' '3' '4' '5']


['2' '3' '3']
['2' '3' '4']


['2' '3' '3']
['2' '3' '4']


['2' '3' '3']
['2' '3' '4']


['2' '3']
['2' '3']

In [33]:
record_1 = data[1]
features_1 = record_1["features"]
classes_1 = record_1["classes"]

X_1 = pd.DataFrame(features_1)
y_1 = pd.DataFrame(classes_1)

In [34]:
clf.predict(X_1)

array(['2', '1', '1', '1'], dtype='<U1')

In [24]:
y_1

  UserId Surface
0      1       2
1      2       3
2      3       4
3      4       5