In [1]:
import json
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import classification_report

In [2]:
with open("processed_data/simple_processing/test_file.txt") as f:
    data = [json.loads(line) for line in f]

In [12]:
def should_be_dropped(c: str):
    return (
        c.endswith("sum_values") or c.endswith("length")
    )

def get_dfs(record):
    f = pd.DataFrame(record["features"])
    f = f[[c for c in f.columns if not should_be_dropped(c)]]
    c = pd.DataFrame(record["classes"])
    return f, c

In [13]:
f0, c0 = get_dfs(data[0])

In [14]:
f0

,Acc_X__median,Acc_X__mean,Acc_X__standard_deviation,Acc_X__variance,Acc_X__root_mean_square,Acc_X__maximum,Acc_X__absolute_maximum,Acc_X__minimum,Acc_Y__median,Acc_Y__mean,...,Mag_Y__absolute_maximum,Mag_Y__minimum,Mag_Z__median,Mag_Z__mean,Mag_Z__standard_deviation,Mag_Z__variance,Mag_Z__root_mean_square,Mag_Z__maximum,Mag_Z__absolute_maximum,Mag_Z__minimum
1,-9.522894,-9.508024,0.098958,0.009793,9.508539,-9.249703,9.753536,-9.753536,2.104248,2.095773,...,0.616455,-0.616455,0.059570,0.057395,0.010487,0.000110,0.058345,0.074463,0.074463,0.038818
2,9.418891,9.389957,0.384537,0.147869,9.397827,10.374157,10.374157,8.123430,-1.605325,-1.642229,...,0.281250,-0.281250,-0.646240,-0.645868,0.003031,0.000009,0.645875,-0.637695,0.652588,-0.652588
3,9.499529,9.480108,0.097870,0.009579,9.480614,9.658154,9.658154,9.248930,-1.802204,-1.834136,...,0.224365,-0.224365,-0.253418,-0.235181,0.057573,0.003315,0.242126,-0.102783,0.306152,-0.306152
4,9.481887,9.483041,0.059116,0.003495,9.483225,9.678227,9.678227,9.363868,-2.552054,-2.521727,...,1.314209,0.989258,2.476929,2.479356,0.024248,0.000588,2.479474,2.533203,2.533203,2.429199

In [15]:
c0

  UserId Surface
0      1       2
1      2       3
2      3       4
3      4       5

In [16]:
clf = SGDClassifier()

f = pd.DataFrame(data[0]["features"])
f = f.reindex(sorted(f.columns), axis=1)

c = pd.DataFrame(data[0]["classes"]).Surface
clf.partial_fit(f, c, classes=c)

# df = df.reindex(sorted(df.columns), axis=1)
for el in data[1:15]:
    f = pd.DataFrame(el["features"])
    f = f.reindex(sorted(f.columns), axis=1)
    c = pd.DataFrame(el["classes"])

    prev = f.columns.values
    clf.partial_fit(f, c.Surface)

In [17]:
for el in data[15:]:
    f, c = pd.DataFrame(el["features"]), pd.DataFrame(el["classes"])
    f = f.reindex(sorted(f.columns), axis=1)

    print(clf.predict(f))
    print(c.Surface.values)
    print("\n")

['2' '3' '5' '5']
['2' '3' '4' '5']


['2' '3' '5' '5']
['2' '3' '4' '5']


['2' '3' '5']
['2' '3' '4']


['2' '3' '3']
['2' '3' '4']


['2' '3' '5']
['2' '3' '4']


['2' '3']
['2' '3']

In [33]:
record_1 = data[1]
features_1 = record_1["features"]
classes_1 = record_1["classes"]

X_1 = pd.DataFrame(features_1)
y_1 = pd.DataFrame(classes_1)

In [34]:
clf.predict(X_1)

array(['2', '1', '1', '1'], dtype='<U1')

In [24]:
y_1

  UserId Surface
0      1       2
1      2       3
2      3       4
3      4       5